<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Type
		</th>
		<th>
			Size
		</th>
	
		<% Document.each do |document| %>
		  <tr>
		    <td><%= subscriber.email %></td>
		    <td><%= link_to 'Show', subscriber %></td>
		    <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
		    <td><%= link_to 'Destroy', subscriber, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
	</tr>
    %tr
      %th Name
      %th Type
      %th Size
    - documents.each do |document|
      %tr
        %td= link_to h(document.document_file_name), document
        %td= document.document_content_type
        %td= number_to_human_size(document.document_file_size)
        %td= link_to 'Replace', edit_document_path(document)
        <%td= link_to 'Delete', document_path(document), :method => :delete, :confirm => 'Are you sure?' %>
 </table>